<header>
  <p class="menu-icon">&#9776;</p>
  <h1>CATEGORIES</h1>
  <i class="fa-solid fa-magnifying-glass"></i>
</header>

<div class="category-list">
  <% @categories.each do |category| %>
    <div class="category">
      <img scr='<%= category.icon %>' alt='<%= category.name %>'>
      <div>
        <p class='name'><%= category.name %></p>
        <p class='expense-date'><%= category.created_at.strftime("%d %b %Y") %></p>
      </div>
      <div class="amount">
        <p>PLACEHOLDER FOR AMOUNT!!</p>
      </div>
    </div>  
  <% end %>
</div>
